:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

input,
button {
  border: none;
  padding: 10px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #0f0f0f;
  background-color: #ffffff;
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  outline: none; /* removes the ugly outline when you click on button or input field */
}

button { /* best to keep point seperate, if applied to input field it look wrong */
  cursor: pointer;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: #2f2f2f;
  }

  a:hover {
    color: #24c8db;
  }

  input,
  button {
    color: #ffffff;
    background-color: #0f0f0f98;
  }
  button:active {
    background-color: #0f0f0f69;
  }
}

/* Custom code from here on... */
/*### GENERAL STUFF ###*/
body, html { /* Removes the innate padding */
  margin: 0;
  padding: 0;
  height: 100%;
}

.unselectable { /* Elements become unselectable */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.whole-content-container { /* Container that holds all the content */
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  text-align: center;
  margin: 0;
  padding: 0;
}

/*### NAVIGATION ###*/
.nav {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1; /* Ensures nav items are on top of everything */
}

.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: block;
}

.nav ul li {
  display: inline-block;
}

.nav ul li a {
  display: inline-block;
  color: #000;
  padding: 8px 16px;
  font-size: 1.2rem;
  text-decoration: none;
  background-color: #f1f1f1;
}

/*Displaces the nav bar items slighty on hovering over them*/
.nav ul li a:hover {
  background-color: #944286;
}

/*### INFO-PAGE ###*/
.info-page ul {
  list-style-type: none;
  margin: 10px;
  padding: 0;
}

.info-page ul li {
  padding: 10px;
  color: #bdbdbd;
  font-size: 1rem;
}

/*### PRACTICE-PAGE ###*/
.grid-container-practice{
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns, each 1 fraction unit */
  grid-template-rows: repeat(2, 230px); /* 2 rows, each 1 fraction unit */
}

/* Make last button take up 2 grid slots horizontally */
.grid-container-practice > a:nth-child(5) {
  grid-column: span 2;
}

.grid-container-practice a {
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 2em;
  cursor: pointer;
  transition: 0.15s ease-in-out;
  /*overflow: hidden; /* Ensure the pseudo-element doesn't overflow the button */ /*Not sure if it even does anything*/
  color: #dadada; /* Set text color for better visibility */
  font-weight: bold;    

  /* Each if needed to keep Text in center of image */
  display: flex; 
  justify-content: center;
  align-items: center;
}

.grid-container-practice a::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  opacity: 0.05;
  transition: opacity 0.15s ease-in-out;
  z-index: 0; /* Ensure the pseudo-element is behind the text */
}

/* Specific background images for each button */
.grid-container-practice > a:nth-child(1)::before {
  background-image: url(../assets/images/englishBlue.png);
}

.grid-container-practice > a:nth-child(2)::before {
  background-image: url(../assets/images/germanBlue.png);
}

.grid-container-practice > a:nth-child(3)::before {
  background-image: url(../assets/images/mixBlue.png);
}

.grid-container-practice > a:nth-child(4)::before {
  background-image: url(../assets/images/bigBrain.png);
}

.grid-container-practice > a:nth-child(5)::before {
  background-image: url(../assets/images/coolCat.png);
}

.grid-container-practice a:hover { /* Changes text on image to back on hover */
  color: #000;
}

.grid-container-practice a:hover::before { /* Image fades in on hover */
  opacity: 1;
}

.grid-container-practice a span {
  z-index: 1; /* Ensure the text is above the pseudo-element on hover */
}

/*### Practice choices English, German, Mix etc... ###*/
.whole-content-container-practice {
  display: grid;
  place-items: center; /* Center both vertically and horizontally */
  height: 100vh; /* Full viewport height */
  grid-template-columns: 1fr 1fr; /* Split into two equal columns */
}

.whole-content-container-practice a {
  color: #f6f6f6;
  background-color: #202020;

  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.1;
  transition: opacity 0.2s ease;
  text-decoration: none;
  padding: 2px 8px;
  font-size: 1rem;
  border-radius: 0 0 5px 0;
  transition: linear 0.2s;
  outline: none;
}

.whole-content-container-practice a:hover {
  opacity: 1;

  padding: 6px 12px;
  font-size: 1.3rem;
}

.word-practice-form { 
  display: flex;
  flex-direction: column;
  align-items: center; /* Places all children elements in center  */
  grid-column: 1 / span 2; /* Span both columns */
}

.word-guess-response{
  cursor: not-allowed;
  opacity: 1;  /* Make it fully visible by default */
  transition: opacity 0.2s ease;
  color: rgb(255, 255, 255);
  text-align: center;
}

.whole-content-container-practice h1 {
  font-size: 3rem;
  margin-bottom: 80px; /* Keep this margin to maintain the spacing below */
  max-width: 650px;
  line-height: 1;
  height: 100px; /* Set a fixed height */
  display: flex;
  align-items: center; /* Center the text vertically if it breaks into two lines */
  justify-content: center; /* Center the text horizontally */
  text-align: center; /* Ensure the text remains centered */
}

.users-guess {
  font-size: 1.3rem;
  padding: 10px 15px;
  width: 300px;
  color: transparent;
  text-shadow: 0 0 0 #b1b1b1;
  text-align: center;
}

.users-guess::placeholder {
  font-weight: 500;
  text-align: center;
}

/*### HOME-PAGE ###*/
.index-container {
  display: flex;
  height: 100%;
}

/* LEFT CONTAINER*/
.left-container {
  width: 180px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.word-count {
  height: 180px;
  width: 180px;
  background-image: linear-gradient(to right, #d89504 , #f7dca4);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 30px;
}

.word-count h1 {
  font-size: 90px;
  color: #000;
  font-weight: lighter;
  margin: 0; /* Remove any default margin */
  padding-top: 25px;
}

.word-count p {
  font-size: 25px;
  color: #000;
  margin: 0; /* Remove any default margin */
}

.search-word-container{
  position: relative;
}

.search-word {
  width: 100%;
  margin-bottom: 5px;
  padding: 10px 0;
  text-align: center;
}

.clear-search {
  background-color: #0000002d;;
  outline: none;
  box-shadow: none;
  transition: 0.09s ease-in-out;
  color: #63636398;

  position: absolute;
  right: 0;
}

.clear-search:hover{

  background-color: #421b1b5d;;
  outline: none;
  box-shadow: none;
}

.add-word-container {
  margin-top: 10px;
  margin-bottom: 10px;
}

.add-word-container input {
  width: 100%;
  margin-bottom: 5px;
  padding: 10px 0;
  text-align: center;
}

.add-word-container .add-word-button {
  width: 100%;
  background-color: green;
  color: #0f0f0f;
}

/* RIGHT CONTAINER */
.right-container {
  flex-grow: 1; /* Makes it take the remaining width */
  display: flex;
  flex-direction: column; /* This will allow the word-list to grow */
  height: 100%; /* Ensure the right container fills the available height */
  margin-left: 5px;
}

/*### Display list of all words saved in db ###*/
.word-list {
  scrollbar-width: thin;
  scrollbar-color: #3e0c507c transparent;
  
  overflow-y: scroll;
  overflow-x: hidden;
  border-radius: 5px;
  background-color: #4a8ea3;

  height: 500px;
}

.word-list ul {
  list-style: none;
  margin: 0px 20px;
  padding: 0;
}

.word-list li {
  position: relative; /* Position the delete button correctly, this has to stay*/
  border-bottom: 1px solid #000;
  color: #000000;
  font-size: 1.2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.word-list li:hover {
  background-color: #3b7181;
}

.word-list li .english-word {
  width: 40%;
  text-align: left;
  padding: 10px;
}

.word-list li .german-word {
  width: 50%;
  text-align: left;
  margin-left: auto;
  padding: 10px;
}

.word-list li p {
  margin: 0;
}

.word-list a.word-link {
  display: flex;
  width: 100%;
  text-decoration: none;
  color: inherit;
}

.word-list button { /* This is the delete button */
  background-color: rgba(224, 22, 22, 0.65);
  color: black;
  border-radius: 2px;
  font-size: 0.95rem;
  cursor: pointer;
  transition: 0.12s ease-in-out;
  margin-left: 10px;

  position: absolute;
  right: 10px; /* Aligns the button to the right of the list item */
  top: 50%; /* Centers the button vertically */
  transform: translateY(-50%);
  z-index: 1; /* Ensures the button is on top of the link */
}

.word-list button:hover {
  background-color: rgba(240, 29, 29, 0.85);
}

.english-word-update, .german-word-update{
  padding-top: 11px;
  padding-bottom: 11px;

  box-shadow: none;
}

.german-word-update{
  background: linear-gradient(90deg ,#0f0f0f98 70%, #4a8ea3);
}

.word-list .update-word-button{
  background-color: rgba(23, 173, 43, 0.65);
}